.App {
  overflow: auto;
}
:root {
  --spacing: 1rem;
  --min-card-width: 15rem;
  --back-color: #f2f2f2;
  --color-white: rgb(252 252 252);
  --color-font-default: #212529;
}
.filtro-producto {
  display: grid;
  grid-template-columns: minmax(12rem, 20%) 1fr;
}
.ListaProducto {
  display: grid;
  gap: var(--spacing);
  grid-template-columns: repeat(
    auto-fill,
    minmax(min(100%, var(--min-card-width)), 1fr)
  );
  padding: var(--spacing);
  background-color: var(--back-color);
}
.ListaProducto a {
  color: var(--color-font-default);
  text-decoration: none;
}
.ListaProducto a:hover {
  color: var(--back-color);
  background-color: #0d6efd;
  box-shadow: 0px -1px 37px 0px rgba(13, 110, 253, 0.5);
  -webkit-box-shadow: 0px -1px 37px 0px rgba(13, 110, 253, 0.5);
  -moz-box-shadow: 0px -1px 37px 0px rgba(13, 110, 253, 0.5);
  transition: 150ms;
}
.FiltroProducto {
  background-color: var(--color-white);
  padding: var(--spacing);
}

.ProductoID {
  display: grid;
  gap: var(--spacing);
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 17rem), 1fr));
  grid-auto-flow: dense;
  padding: var(--spacing);
  background-color: var(--color-white);
  height: 100%;
  border-top: 1px solid #e5dcda;
}
.producto-detalles {
  width: 100%;
  grid-column: span 2;
}
.producto-not-found {
  grid-column: span 2;
}

/* cesta producto */
.cart-body {
  display: flex;
  flex-direction: column;
  padding: var(--spacing);
}

.cest-item {
  display: grid;
  margin-top: var(--spacing);
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 5rem), 1fr));
  align-items: center;
  border-bottom: 1px solid var(--border-color);
}

.cest-item>* {
  text-align: center;
}

.producto-nombre {
  grid-column: span 2;
  text-align: start;
  font-weight: bold;
}

.producto-control {
  grid-column: span 3;
  display: grid;
  grid-template-columns: minmax(10rem, 90%) 10%;
}

#producto-cantidad {
  max-width: 50%;
  text-align: center;
}

.producto-control>.input-group {
  height: fit-content;
  justify-content: center;
}

.CestaProducto {
  display: flex;
}
.ResumenPedido {
  display: flex;
  flex-direction: column;
  width: 20rem;
  padding: var(--spacing);
  margin-right: var(--spacing);
  border: 1px solid var(--border-color);
  height: fit-content;
  margin-top: 6rem;
}
.precio-total {
  display: flex;
  align-items: flex-end;
  font-size: 1.5rem;
  padding-block: var(--spacing);
}
span.texto {
  font-weight: bold;
  width: 50%;
  text-align: left;
}
span.total {
  width: 50%;
  text-align: right;
}
.precio-cantidad {
  text-align: right;
}
